# dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# testing
coverage

# next.js
.next/
out/
build
dist

# production
*.tsbuildinfo
next-env.d.ts

# env files (keep .env.example tracked)
.env
.env.local
.env*.local
.env.development
.env.production

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# vercel
.vercel

# typescript
*.tsbuildinfo
